<?xml version="1.0" encoding="utf-8"?>

<!--  
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <connectionStrings>
    <add name="UsersConnectionString" connectionString="Data Source=UNKNOWN;Initial Catalog=Users;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>


<!-- Data Source=UNKNOWN;Initial Catalog=Users;Integrated Security=True
    <add name="dbconnection" connectionString="Data Source=UNKNOWN;Initial Catalog=Users; User id={user name}; Password={password};" />
-->